.Title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1842px;
    margin-top: 37px;
    margin-bottom: 37px;
}

.Title__content {
    width: 281px;
    height: 27px;
    margin-left: 37px;
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #013ffb;
}

.Title__btn_createRecord {
    margin-left: 74.59%;
    width: 112px;
    height: 40px;
    background: linear-gradient(180deg, #013ffb 0%, #a295f2 100%);
    border-radius: 7px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    border: none;
    display: block;
}
