.App {
  width: 1920px;
  height: auto;
  background: #ffffff;
  display: flex;
  flex-direction: row;
}

.App__main {
  display: flex;
  flex-direction: column;
  width: 95.83%;
  background-color: #f9f9f9;
}
